{% extends 'news-detail.html' %}
{% load static %}
{% block body %}
<section id="news-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-8 col-sm-7">
                         <!-- NEWS THUMB -->
                         <div class="news-detail-thumb">
                              <div class="news-image">
                                   <img src="{% static 'images/face1.png' %}" class="img-responsive" alt="">
                              </div>

                              <div class="news-social-share">
                                   <h4>Share this project on social media</h4>
                                        <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>Facebook</a>
                                        <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>Twitter</a>
                                        <a href="#" class="btn btn-success"><i class="fa fa-linkedin"></i>Linkedin</a>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-5">
                         <div class="news-sidebar">
                              <div class="news-author">
                                   <h4>About  Our  Project</h4>
                                   <p>Local Binary Pattern (LBP) is a straightforward yet extremely productive
texture administrator which names the pixels of a picture by thresholding
the neighborhood of every pixel and thinks about the outcome as a paired
number.
                                   </p>
                                   <p>
                                        LBPH uses 4 parameters:
                                   </p>
                                   <li>
                                        Radius
                                   </li>
                                   <li>
                                        Neighbours
                                   </li>
                                   <li>
                                        Grid X
                                   </li>
                                   <li>
                                        Grid Y
                                   </li>
                                   <p></p>
                                   <p>
                                        To start with, we have to prepare the calculation. To do as such, we have
to utilize a dataset with the facial pictures of the individuals we need to
perceive. We have to likewise set an ID (it might be a number or the name
of the individual) for each picture, so the calculation will utilize this data
to perceive an information picture and give you a yield. Pictures of a
similar individual must have a similar ID.
                                   </p>
                                   <p>
                                        The principal computational advance of the LBPH is to make a moderate
picture that portrays the first picture in a superior manner, by featuring the
facial attributes. To do as such, the calculation utilizes an idea of a sliding
window, in view of the boundaries sweep and neighbors.
                                   </p>
                              </div>


                              <div class="news-ads sidebar-ads">
                                   <h4>Sidebar Banner Ad</h4>
                              </div>


                         </div>
                    </div>

               </div>
          </div>
     </section>



     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
          <div align="center" class="container">
               <div  class="row">

                    <div  class="col-md-12 col-sm-6">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>

                              <div class="contact-info">
                                   <p><i class="fa fa-phone"></i>+91 8879328586</p>
                                   <p><i class="fa fa-envelope-o"></i> <a href="#">shyam.n.panigrahi@gmail.com</a></p>
                              </div>
                         </div>



                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>

{% endblock %}